<head>
  <title>Login</title>
</head>

<body>
  <div class="container">
    <h1>You Must Be Logged In To Play</h1>
    <form action="/loginForm" method="post">
      <p class="formInputTitle">Username</p>
      <input type="text" name="username" placeholder="Enter Username">
      <p class="formInputTitle">Password</p>
      <input type="text" name="password" placeholder="Enter Password">
      <input type="submit" value="Play!" />
    </form>
    <p class="signuplink">Don't have an account? <a href="/signup">SignUp</a></p>
  </div>
</body>
